html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    line-height: 1;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-text-size-adjust: 100%
}
body {
    background: #f7f7f7;
    color: #545454;
    text-rendering: optimizeLegibility;
    font-family: 'Nunito', sans-serif;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #de4c4f;
    text-decoration: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
b, strong {
    font-family: 'Nunito-Bold', sans-serif;
}
i, em {
    font-family: 'Nunito', sans-serif;;
    color: #888888;
    text-rendering: optimizeLegibility;
    font-style: italic;
}
blockquote {
    display: block;
    margin-left: -1em;
    padding-left: 0.8em;
    border-left: 0.2em solid #f43a43;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
code {
    font-family: 'JetBrains Mono', monospace;
}
h1 {
    font-family: 'Nunito-Medium', sans-serif;;
    color: #333;
    font-size: 2.2em;
    line-height: 1.3em;
    font-weight: normal;
    margin-top: .7em;
}
h2 {
    font-family: 'Nunito-Medium', sans-serif;
    color: #414141;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: .15em;
    font-weight: normal;
    margin-top: .7em;

}
h3 {
    font-family: 'Nunito-Medium', sans-serif;
    color: #414141;
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: .13em;
    font-weight: normal;
    margin-top: .7em;

}
h4 {
    font-family: 'Nunito-Medium', sans-serif;
    color: #414141;
    font-size: 1.6em;
    line-height: 1em;
    margin-bottom: .1em;
    font-weight: normal;
    margin-top: .7em;

}
h5 {
    font-family: 'Nunito-Medium', sans-serif;
    color: #414141;
    font-size: 1.3em;
    line-height: 1em;
    margin-bottom: .38em;
    font-weight: normal;
    margin-top: .7em;

}
h6 {
    font-family: 'Nunito-Medium', sans-serif;
    color: #414141;
    font-size: 1.15em;
    line-height: 1em;
    margin-bottom: .35em;
    font-weight: normal;
    margin-top: .7em;

}
#rendered-md h1 {
    border-bottom: none;
    margin-bottom: 0;
    line-height: 1;
    font-size: 2.5em;
}
@media screen {
    rendered-md li.joplin-checkbox {
    margin-left: 0rem;
    }
}

p {
    margin-bottom: .57143em;
    hyphens: auto;
}
hr {
    height: 1px;
    border: 0;
    background-color: #d3d3d3;
    margin: -1px auto 1.57143em auto;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
}
li {
    padding-bottom: 0.5em;
}
li.md-checkbox {
    list-style-type: none;
    padding-left: 1em;
}
ol {
    counter-reset: ol_counter;
}
ol li:before {
    content: counter(ol_counter) ".";
    counter-increment: ol_counter;
    color: #e06e73;
    text-align: right;
    display: inline-block;
    min-width: 1em;
    margin-right: 0.5em;
}
ol li {
    text-indent: .35em;
}
ol ol {
    margin-left: 1.25714em;
}
ol, ul {
    list-style: none;
}
ul li::marker {
    color: red;
    content: "•";
  }
ul li{
    padding-left: .5em;
    margin-left: 1em;
    list-style-position: outside;
}
ul li.md-checkbox.joplin-checkbox::marker {
    content: "";
}
ul ul {
    margin-left: 1.25714em;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.exported-note-title {
    font-family: 'Nunito-Medium', sans-serif;
    /* color: #333; */
    color: #fd7373;
    font-size: 2.5em;
    line-height: 1.3em;
    border-bottom: 0;
    padding-bottom: 0;
}
.exported-note {
    max-width: 46em;
    margin: 0px auto;
    padding: 1.57143em 3.14286em;
}
.exported-note.spotlight-preview {
    overflow-x: hidden;
}